:root {
  --primary-color: #ae47f4;
  --main-button-background-color: #4CAF50;
  --main-button-background-hover-color: #3f8c4a;
  --second-button-background-color: #f44336;
  --second-button-background-hover-color: #d32f2f;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #171d23;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, h2 {
  color: var(--primary-color);
}

label {
  color: #fff;
  font-weight: bold;
  font-size: medium;
  margin-bottom: 10px;
}

.background-image {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url('../public/background.jpeg');
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: blur(10px) brightness(0.6);
}

.container {
  min-height: 100vh;
  position: relative;
  overflow: hidden;
}

.content {  
  position: relative;
  margin: 30px;
}

.status {
  font-weight: bold;
  font-size: medium;
}

#status[status="RUNNING"] {
  color: var(--main-button-background-color);
}

#status[status="STOPPED"] {
  color: var(--second-button-background-color);
}

.status::before {
  content: "●";
  font-size: 7px;
  margin-right: 5px;
  margin-left: 5px;
  vertical-align: middle;
}

.status-item {
  margin-bottom: 10px;
}

.status-container {
  position: relative;
}

input {
  height: 40px;
  padding: 0px 0px 0px 10px;
  background-color: transparent;
  color: #fff;
  border: 2px solid var(--primary-color);
  border-radius: 10px;
}

input[readOnly] {
  background-color: transparent;
  color: #fff;
  border: none;
  border-bottom: 2px solid var(--primary-color);
  font-weight: normal;
  font-size: 15px !important;
  font-size: medium;
  margin-right: 12px;
  width: 100% !important;
  border-radius: 0px;
}

.label-container {
  margin-bottom: 10px;
}

.settings {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 20px;
  padding: 10px;
}

.settings-input-new {
  background-color: transparent;
  color: #fff;
  border: none;
  border: 2px solid var(--primary-color);
  font-weight: normal;
  font-size: 15px !important;
  font-size: medium;
  margin-right: 10px;
  height: 40px;
  width: 100%;
  border-radius: 10px;
  padding: 0px 0px 0px 10px;
}

.settings-input {
  width: 95% !important;
}

.remove-btn {
  background-color: var(--second-button-background-color);
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 2px 2px;
  cursor: pointer;
  padding: 8px 16px;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.remove-btn:hover, .to_stop:hover, .cancel-btn:hover {
  background-color: var(--second-button-background-hover-color);
}

.add-btn {
  background-color: var(--main-button-background-color);
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 2px 2px;
  cursor: pointer;
  padding: 8px 16px;
  border-radius: 4px;
  transition: background-color 0.3s;
  margin-top: 15px
}

.add-btn:hover, .to_start:hover, .update-btn:hover {
  background-color: var(--main-button-background-hover-color)
}

.material-icons {
  font-size: 18px;
  vertical-align: middle;
}

.settings-item {
  background-color: #0c0c0c;
  position: relative;
  padding: 20px;
}

.frosty {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(50px);
  border-radius: 10px;
}

.connected-relay {
  color: #fff !important;
  height: 20px !important ;
  border-bottom: none !important;
}

.connected-relay::before {
  color: var(--second-button-background-color);
  font-family: 'Material Icons';
  content: "\e5cd";
  margin-right: 5px;
  margin-left: 5px;
}

.connected-relay[data-connected] {
  color: #fff !important;
}

.connected-relay[data-connected]::before {
  color: var(--main-button-background-color) !important;
  content: "✓";
  margin-right: 5px;
  margin-left: 5px;
}

.button {
  border-radius: 4px;
  border: none;
  padding: 10px;
  background-color: transparent;
  margin-top: 10px;
}

.to_start {
  background-color: var(--main-button-background-color);
  color: white;
}

.to_stop {
  background-color: var(--second-button-background-color);
  color: white;
}

.update-btn {
  background-color: var(--main-button-background-color);
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 2px 2px;
  cursor: pointer;
  padding: 8px 16px;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.cancel-btn {
  background-color: var(--second-button-background-color);
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 2px 2px;
  cursor: pointer;
  padding: 8px 16px;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.input-list-container {
  display: flex;
}

.input-list-content {
  flex-grow: 1; /* Allow the first div to grow and take up the remaining space */
  padding: 10px;
  text-align: center;
}

.remove-btn-content, .add-btn-content {
  width: 60px;
  padding: 0px 0px 0px 10px;
  text-align: center;
}

.secureToggleButton {
  color: white;
  height: 40px;
  width: 40px;
  border: none;
  background-color: darkgrey;
  border-radius: 4px;
  padding: 10px;
}

.secureToggleButton[data-secure] {
  color: #fff;
  background-color: darkgrey;
}

.relays-list {
  display: grid;
  /* grid-template-columns: repeat(3, 1fr); */
  /* grid-template-rows: repeat(3, auto); */
  grid-auto-flow: column;
  grid-gap: 20px;
  padding: 10px;
}

.relay-item {
  padding: 10px;
}

@media screen and (min-width: 480px) {
  .settings {
    grid-template-columns: repeat(1, 1fr);
  }
  .relays-list {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(auto, auto);
    grid-auto-flow: row;
  }
}

@media screen and (min-width: 768px) {
  .settings {
    grid-template-columns: repeat(2, 1fr);
  }
  .relays-list {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-auto-flow: column;
  }
}

@media screen and (min-width: 1024px) {
  .settings {
    grid-template-columns: repeat(2, 1fr);
  }
  .relays-list {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-auto-flow: column;
  }
}