body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #171d23;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, h2 {
  color: #ae47f4;
}

label {
  color: #fff;
  font-weight: bold;
  font-size: medium;
  margin-bottom: 10px;
}

.background-image {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url('../public/background.jpeg');
  background-size: cover;
  filter: blur(10px);
}

.container {
  position: relative;
  /* width: 400px; */
  /* height: 300px; */
  overflow: hidden;
}

.content {
  position: relative;
  margin: 30px;
}

.status {
  font-weight: bold;
  font-size: medium;
}

#status[status="RUNNING"] {
  color: greenyellow;
}

#status[status="STOPPED"] {
  color: red;
}

.status::before {
  content: "●";
  font-size: 7px;
  margin-right: 5px;
  margin-left: 5px;
  vertical-align: middle;
}

.status-item {
  margin-bottom: 10px;
}

.status-container {
  position: relative;
}

input[readOnly] {
  background-color: transparent;
  color: #fff;
  border: none;
  border-bottom: 1px solid #ae47f4;
  font-weight: normal;
  font-size: 15px !important;
  font-size: medium;
  margin-right: 12px;
  width: 85%;
  height: 40px;
  padding: 0px 0px 0px 10px;
}

.settings-input-new {
  background-color: transparent;
  color: #fff;
  border: none;
  border: 1px solid #ae47f4;
  font-weight: normal;
  font-size: 15px !important;
  font-size: medium;
  margin-right: 10px;
  height: 40px;
  width: 85%;
  margin-bottom: 40px;
  margin-top: 20px;
  border-radius: 10px;
  padding: 0px 0px 0px 10px;
}

.settings-input {
  width: 95% !important;
}

.remove-btn {
  background-color: #f44336; /* Red background */
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 2px 2px;
  cursor: pointer;
  padding: 8px 16px;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.remove-btn:hover {
  background-color: #d32f2f; /* Darken red background on hover */
}

.add-btn {
  background-color: #4CAF50; /* Green background */
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 2px 2px;
  cursor: pointer;
  padding: 8px 16px;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.add-btn:hover {
  background-color: #3f8c4a; /* Darken green background on hover */
}

.material-icons {
  font-size: 18px;
  vertical-align: middle;
}

.settings-item {
  margin-bottom: 20px;
  /* width: 100vh; */
  background-color: #0c0c0c;
  padding: 20px;
  margin: 10px;
  width: 600px;
  position: relative;
  padding: 20px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(50px);
  border-radius: 10px;
}

/* .settings-item label {
  border-bottom: 1px solid #ae47f4;
} */

.connected-relay {
  color: #fff !important;
  height: 20px !important ;
  border-bottom: none !important;
}

.connected-relay::before {
  color: #d32f2f;
  font-family: 'Material Icons';
  content: "\e5cd";
  margin-right: 5px;
  margin-left: 5px;
}

.connected-relay[data-connected] {
  color: #fff !important;
}

.connected-relay[data-connected]::before {
  color: greenyellow !important;
  content: "✓";
  margin-right: 5px;
  margin-left: 5px;
}